<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<%= @post.subject %>, <%= @post.text %>" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">The Coders Wall</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/posts">Blog</a></li>
			<li><a href="/videos">Videos</a></li>
			<li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/projects">My Software</a></li>
			<li class="last"><a href="#">Contact</a></li>
		</ul>
	</div>
	<div id="two-columns">
		<div class="content">
			<div id="blog_left">
				<p id="notice"><%= notice %></p>

				<p>
					<h1><%= @post.subject %></h1>
				</p>
				<p>
					<%= @post.text %>
				</p>
				<%= link_to 'Back', posts_path %>
			</div>
			<div id="blog_right">
				<h1>Comments</h1>
				<% @post.comments.each do |comment| %>
				<div class="list-style1">
					<li>
						<p>
							Name: <%= comment.name %><br>
							<%= comment.text %><br>
							<%= time_ago_in_words comment.created_at %> ago.<br>
						</p>
					</li>
				<% end %>

				<%= form_for [@post, @post.comments.build] do |f| -%>
					<p>Name:</p>
					<p><%= f.text_field :name, :size => '40X10' %></p>
					<p>Comment:</p>
					<p><%= f.text_area :text %></p>
					<p><%= f.submit "Post Comment" %></p>
				<% end %>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2012 Thecoderwall.net. All rights reserved.</p>
	</div>
	
</div>
</body>
</html>
